@import '../../../scss/variables';
@import '../../../scss/mixin';

.chat-option {
    height: 100vh;
    width: 24rem;
    max-width: 24rem;

    background-color: $black-600;

    @include Display(Column, 0);

    .container-buttonOptions {
        @include Display(Column, .2rem);

        padding: .8rem 1rem;

        .buttonOptions-friends, .buttonOptions-nitro {
            width: 21.6rem;
            height: 4.2rem;

            padding: 0 .8rem;

            @include Display(Center, 1.2rem);
            justify-content: flex-start;

            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2rem;

            color: $black-400;

            border-radius: .4rem;

            &:hover {
                background-color: $blackHover-100;
                color: $gray-100;

            }
            
            &:active {
                color: $white-1000;
                
                img {
                    filter: brightness(15);
                }
            }

            &.active {
                background-color: $blackHover-100;
                color: $gray-100;
            }
        }
    }

    .user-config {
        @include Display(Flex, 0);

        height: 5.2rem;
        width: 100%;

        padding: 0 8px;

        background-color: $black-1000;

        .user-identification {
            flex: 1;

            @include Display(Flex, .4rem);

            .userName-container {
                @include Display(Column, 0);

                .name-identification {
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.8rem;
    
                    color: $white-1000;
                }

                .id {
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.3rem;

                    color: #A9BBBE;
                }
            }

        }

        .app-config {
            @include Display(Flex, 0);

            .button-config {
                width: 3.2rem;
                max-width: 3.2rem;
                height: 3.2rem;
                max-height: 3.2rem;
            }
        }
    }
}
