@mixin Display($val) {
    @if $val == Flex {
        display: flex;
        align-items: center;
    }

    @else if $val == Center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}