$white-1000: #ffffff;

$black-400: #9F9E9D;
$black-500: #232428;
$black-600: #2F3136;
$black-700: #373A3F;
$black-800: #36393F;
$black-900: #202225;

$blackHover-100: #3C3F45;

$gray-100: #DCDDDE;


$blue-500: #4752C4;

$green-500: #3BA55D;
